@model Web.Needsa.Models.Db.ArduinoStation

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArduinoStation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Uri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WaterStatus)
        </dt>
        <dd>
            @if (Model.WaterStatus)
            {
                <label class="btn btn-info">ON</label>
            }
            else
            {
                <label class="btn btn-danger">OFF</label>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a href="/ArduinoStationsMvc/Details/@Model.Id?waterStatus=true">On</a>
    <a href="/ArduinoStationsMvc/Details/@Model.Id?waterStatus=false">Off</a>

    waterStatus
</div>
